@using E_Commerce.Web.Models.Dto.Product
@{
    ViewData["Title"] = "Kitap Ekle";
}
@model ProductCreateVM

<div class="container">
    <form asp-area="" asp-controller="Product" asp-action="Create" method="post">
        <div class="row">
            <div class="col-8 mb-2 mt-4">
                <div class="mb-3">
                    <label asp-for="@Model.ProductCreateDto.ISBN" class="form-label"><strong>ISBN Numarası</strong></label>
                    <input type="text" class="form-control" id="isbn" aria-describedby="isbn" asp-for="@Model.ProductCreateDto.ISBN">
                    <span id="ISBNValidation" class="form-text alert-danger" asp-validation-for="@Model.ProductCreateDto.ISBN"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.ProductCreateDto.ProductName" class="form-label"><strong>Kitap Adı</strong></label>
                    <input type="text" class="form-control" id="productName" aria-describedby="productName" asp-for="@Model.ProductCreateDto.ProductName">
                    <span id="productNameValidation" class="form-text alert-danger" asp-validation-for="@Model.ProductCreateDto.ProductName"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.ProductCreateDto.UnitPrice" class="form-label"><strong>Birim Fiyat</strong></label>
                    <input type="number" min="1.00" max="1000.00" step="0.01" class="form-control" id="unitPrice" aria-describedby="unitPrice" asp-for="@Model.ProductCreateDto.UnitPrice">
                    <span id="untPriceValidation" class="form-text alert-danger" asp-validation-for="@Model.ProductCreateDto.UnitPrice"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.ProductCreateDto.StockAmount" class="form-label"><strong>Stok Adedi</strong></label>
                    <input type="number" min="1.00" max="1000.00" step="1" class="form-control" id="stockAmount" aria-describedby="stockAmount" asp-for="@Model.ProductCreateDto.StockAmount">
                    <span id="stockAmountValidation" class="form-text alert-danger" asp-validation-for="@Model.ProductCreateDto.StockAmount"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.ProductCreateDto.Author" class="form-label"><strong>Yazar Adı</strong></label>
                    <input type="text" class="form-control" id="author" placeholder="Anonim" aria-describedby="author" asp-for="@Model.ProductCreateDto.Author">
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.ProductCreateDto.Publisher" class="form-label"><strong>Yayınevi</strong></label>
                    <input type="text" class="form-control" id="publisher" placeholder="Anonim" aria-describedby="publisher" asp-for="@Model.ProductCreateDto.Publisher">
                </div>
            </div>
            <div class="col-4 mb-3">
                <div class="row">
                    <div class="mt-5 mb-3 d-flex justify-content-center">
                        <img id="productImage" class="border mb-5" src="https://placehold.co/150x200" ; alt="Seçilen resim buraya gelecek..." style="width:250px;" />
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <label class="form-label mb-3"><strong>Kapak Fotoğrafı</strong></label>
                        <input type="file" class="form-control" id="imageInput" onchange="previewFile()" aria-describedby="imageInput">
                        <input type="hidden" id="imageUrl" value="https://placehold.co/150x200" asp-for="@Model.ProductCreateDto.ImageUrl">
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.ProductCreateDto.CategoryId" class="form-label"><strong>Kategori</strong></label>
                        <select class="form-select mb-3" asp-for="@Model.ProductCreateDto.CategoryId">
                            <option>Kategori seçmek için tıklayınız</option>
                            @foreach (var category in Model.CategoryDto)
                            {
                                <option value="@category.Id">@category.CategoryName</option>
                            }
                        </select>
                        <span id="categoryIdValidation" class="form-text alert-danger" asp-validation-for="@Model.ProductCreateDto.CategoryId"></span>
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto mb-3">
                <button type="submit" class="btn btn-primary">Kitap Ekle</button>
            </div>
        </div>
    </form>
</div>

<script src="~/js/imageURL.js"></script>

@section Scripts {

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}