@using E_Commerce.Web.Models.Dto.Product
@{
    ViewData["Title"] = "Kitaplar";
}
@model List<ProductDto>

<h1>Kitap Listesi</h1>
<div class="container">
    <div class="row justify-content-end">
        <a class="btn btn-success" type="button" style="width:100px;" href="product/create">Oluştur</a>
    </div>
    <div class="row">
        <table class="table table-hover ">
            <thead>
                <tr>
                    <th class="align-middle">Kapak Resmi</th>
                    <th class="align-middle">ISBN No</th>
                    <th class="align-middle">Kitap Adı</th>
                    <th class="align-middle">Kategori</th>
                    <th class="align-middle">Yazar</th>
                    <th class="align-middle">Yayınevi</th>
                    <th class="align-middle">Stok Adedi</th>
                    <th class="align-middle">Birim Fiyat</th>
                    <th class="align-middle"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img style="width:75px; height:100px;" src="@product.ImageUrl" alt="@product.ImageUrl" />
                        </td>
                        <td class="align-middle">@product.ISBN</td>
                        <td class="align-middle">@product.ProductName</td>
                        <td class="align-middle">@product.CategoryName</td>
                        <td class="align-middle">@product.Author</td>
                        <td class="align-middle">@product.Publisher</td>
                        <td class="align-middle">@product.StockAmount</td>
                        <td class="align-middle">@product.UnitPrice</td>
                        <td class="align-middle">
                            <div class="d-grid gap-2 d-md-block">
                                <a class="btn btn-warning" type="button" style="width:100px;"  asp-area="" asp-controller="Product" asp-action="Update" asp-route-id="@product.Id">Düzenle</a>
                                <a class="btn btn-danger" type="button" style="width:100px;" asp-area="" asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id">Sil</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>





