@using E_Commerce.Web.Models.Dto.Product
@{
    ViewData["Title"] = "Kitap Güncelle";
}
@model ProductUpdateVM

<div class="container">
    <form asp-area="" asp-controller="Product" asp-action="Update" method="post">
        <input type="hidden" asp-for="@Model.ProductUpdateDto.Id"/>
        <div class="row">
            <div class="col-8 mb-2 mt-4">
                <div class="mb-3">
                    <label asp-for="@Model.ProductUpdateDto.ISBN" class="form-label"><strong>ISBN Numarası</strong></label>
                    <input type="text" class="form-control" id="isbn" aria-describedby="isbn" asp-for="@Model.ProductUpdateDto.ISBN">
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.ProductUpdateDto.ProductName" class="form-label"><strong>Kitap Adı</strong></label>
                    <input type="text" class="form-control" id="productName" aria-describedby="productName" asp-for="@Model.ProductUpdateDto.ProductName">
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.ProductUpdateDto.UnitPrice" class="form-label"><strong>Birim Fiyat</strong></label>
                    <input type="number" min="1.00" max="1000.00" step="0.01" class="form-control" id="unitPrice" aria-describedby="unitPrice" asp-for="@Model.ProductUpdateDto.UnitPrice">
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.ProductUpdateDto.StockAmount" class="form-label"><strong>Stok Adedi</strong></label>
                    <input type="number" min="1.00" max="1000.00" step="1" class="form-control" id="stockAmount" aria-describedby="stockAmount" asp-for="@Model.ProductUpdateDto.StockAmount">
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.ProductUpdateDto.Author" class="form-label"><strong>Yazar Adı</strong></label>
                    <input type="text" class="form-control" id="author" aria-describedby="author" asp-for="@Model.ProductUpdateDto.Author">
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.ProductUpdateDto.Publisher" class="form-label"><strong>Yayınevi</strong></label>
                    <input type="text" class="form-control" id="publisher" aria-describedby="publisher" asp-for="@Model.ProductUpdateDto.Publisher">
                </div>
            </div>
            <div class="col-4 mb-3">
                <div class="row">
                    <div class="mt-5 mb-3 d-flex justify-content-center">
                        <img id="productImage" class="border mb-5" src="@Model.ProductUpdateDto.ImageUrl" alt="Seçilen resim buraya gelecek..." style="width:250px; height:250px;" />
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <label class="form-label mb-3"><strong>Kapak Fotoğrafı</strong></label>
                        <input type="file" class="form-control" id="imageInput" onchange="previewFile()" aria-describedby="imageInput">
                        <input type="hidden" id="imageUrl" asp-for="@Model.ProductUpdateDto.ImageUrl">
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.ProductUpdateDto.CategoryName" class="form-label"><strong>Kategori</strong></label>
                        <select class="form-select mb-3" asp-for="@Model.ProductUpdateDto.CategoryId">
                            <option>@Model.ProductUpdateDto.CategoryName</option>
                            @foreach (var category in Model.CategoryDto)
                            {
                                <option value="@category.Id">@category.CategoryName</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto mb-3">
                <button type="submit" class="btn btn-primary">Kitap Güncelle</button>
            </div>
        </div>
    </form>
</div>

<script src="~/js/imageURL.js"></script>