@using E_Commerce.Web.Models.Dto.Product
@{
    ViewData["Title"] = "Anasayfa";
}

@model List<ProductDto>

<h1>Kitap Listesi</h1>

@foreach (var product in Model)
{
    <div class="card" style="width: 18rem;">
        <img src="https://placehold.co/600x400" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@product.ProductName</h5>
            <small class="text-secondary">@product.CategoryName</small>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@product.Author</li>
            <li class="list-group-item">@product.Publisher</li>
        </ul>
        <div class="card-body d-flex justify-content-between">
            <span class="align-middle mt-2">@product.StockAmount Adet</span>
            <a href="#" class="btn btn-primary">Sepete Ekle</a>
        </div>
    </div>
}
