@using E_Commerce.Web.Models.Dto.Order
@{
    ViewData["Title"] = "Siparişler";
}

@model List<CartDto>

<table class="table table-hover ">
    <thead>
        <tr>
            <th class="align-middle">User Id</th>
            <th class="align-middle">Address</th>
            <th class="align-middle">IsApproved</th>
            <th class="align-middle">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td class="align-middle">@order.UserId</td>
                <td class="align-middle">@order.Address</td>
                <td class="align-middle">@order.IsApproved</td>
                <td class="align-middle">@order.IsApproved</td>
                <td class="align-middle">
                    <div class="d-grid gap-2 d-md-block">
                        <a class="btn btn-warning" type="button" style="width:100px;" asp-area="" asp-controller="Order" asp-action="Detail" asp-route-id="@order.Id">Düzenle</a>
                        <a class="btn btn-danger" type="button" style="width:100px;" asp-area="" asp-controller="Order" asp-action="ApproveOrder" asp-route-id="@order.Id">Sil</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>